.poster-grid {
    position: relative;
    margin: 10px;
    // box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
    transition: 0.3s;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        object-fit: cover;
        height: 300px;
        aspect-ratio: 2/3;
        border: 3px solid $color-1;
        margin: 10px;
    
    }
}